:host {
  .background-image-container {
    color: white;
    background-image: url("https://iescfag.edu.br/static/img/repositorio/feature-bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container {
      text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.6);
    }
  }

  .jumbotron {
    background-color: transparent;
  }
}